html {
	font-size: 62.5%;
	line-height: 1.285;
}
li {
	list-style: none;
}
.container {
	width: 800px;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.correct {
	padding: 40px;
	margin: auto;
}

/* 숫자 부분 */
@keyframes fadein {
	0% {
		opacity: 0.4;
		transform: translate3d(0, 100%, 0);
	}
	100% {
		opacity: 1;
	}
}
.correct .wrap-number {
	display: flex;
	animation: fadein 0.4s ease-in-out;
}
.correct .number {
	width: 60px;
	height: 60px;
	background-color: #ccc;
	margin: 5px;
	flex-shrink: 0;
	display: flex;
	color: white;
	justify-content: center;
	align-items: center;
	font-size: 1.8rem;
}
.correct .number.good {
	background-color: green;
}
.correct .number.notbad {
	background-color: yellow;
	color: blue;
}
.correct .number.bad {
	background-color: rgb(74, 74, 74);
}
.popup {
	display: none;
}
.popup-color {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 40px 100px;
	background-color: #eaeaea;
	border-radius: 8px;
	margin-top: 40px;
}
.popup .popup-text {
	font-size: 3rem;
	margin-bottom: 20px;
}
.popup .reset-icon {
	font-size: 4rem;
	cursor: pointer;
	transition: all 0.3s ease-in;
}
.popup .reset-icon:hover {
	transform: scale(1.1);
}

.hidden {
	display: none;
}
