html {
	font-size: 62.5%;
	line-height: 1.285;
}
li {
	list-style: none;
}

/* container */
.container {
	margin: auto;
	display: flex;
	position: relative;
	padding: 30px;
}
/* 인풋 */
.form-group {
	width: 50%;
	height: 600px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.form-wrap {
	display: flex;
	flex-direction: column;
	width: 200px;
}
.form-wrap .input-value {
	height: 40px;
	outline: none;
	border: 1px solid #7d7d7d;
	margin-bottom: 10px;
}
.form-wrap .input-value:focus {
	background-color: #e8f1f1;
}
.form-wrap .submit {
	border: none;
	border-radius: 8px;
	height: 40px;
	background-color: #7d7d7d;
	color: #fff;
	font-size: 2rem;
}
.form-group .count-text {
	margin-top: 40px;
	font-size: 2rem;
}

/* 넘버그룹 */
.number-group {
	border-radius: 20px;
	background-color: #d0c1d1;
	width: 800px;
	min-height: 800px;
	height: fit-content;
}
.correct {
	padding: 40px;
	margin: auto;
	width: fit-content;
}

/* 숫자 부분 */
@keyframes fadein {
	0% {
		opacity: 0.4;
		transform: translate3d(100%, 0, 0);
	}
	100% {
		opacity: 1;
	}
}
.correct .wrap-number {
	display: flex;
	animation: fadein 0.4s ease-in-out;
	background-color: #e8e8e8;
	margin: 10px 0;
	padding: 20px;
	border-radius: 8px;
	border: 1px dashed #ccc;
}
.correct .number {
	width: 80px;
	height: 80px;
	margin: 5px;
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 2rem;
	border-radius: 4px;
}
/* .correct .number::before {
	content: '';
	background-color: white;
	width: 20%;
	height: 100%;
	left: 0;
} */
.correct .number.good {
	border: 1px solid green;
	background-color: rgba(0, 128, 0, 0.142);
}
.correct .number.good::before {
	background-color: #008000;
	content: 'Strike';
	font-size: 1.4rem;
	color: #e1ffe1;
	line-height: 2.3rem;
	text-align: center;
	width: 100%;
	height: 30%;
}
.correct .number.notbad {
	border: 1px solid #dbb700;
	background-color: #dbb70021;
}
.correct .number.notbad::before {
	background-color: #dbb700;
	content: 'Ball';
	font-size: 1.4rem;
	color: #fff8d6;
	line-height: 2.3rem;
	text-align: center;
	width: 100%;
	height: 30%;
}
.correct .number.bad {
	border: 1px solid #4a4a4a;
	background-color: #4a4a4a27;
}
.correct .number.bad::before {
	background-color: #4a4a4a;
	content: 'Out';
	font-size: 1.4rem;
	color: #e7e7e7;
	line-height: 2.3rem;
	text-align: center;
	width: 100%;
	height: 30%;
}
.correct .number .text-num {
	display: flex;
	align-items: center;
	flex-grow: 1;
}

/* 팝업  */
.popup {
	width: 400px;
	height: 400px;
	position: fixed;
	border: 2px solid #ccc;
	background-color: #fff;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	box-shadow: 0 25px 50px rgba(0, 0, 0, 0.1), 0 0 0 1000px rgba(255, 255, 255, 0.7);
	visibility: hidden;
}
.popup.active {
	visibility: visible;
}
.popup .popup-text {
	font-size: 5rem;
	margin-bottom: 20px;
}
.popup .reset-icon {
	font-size: 4rem;
	cursor: pointer;
	transition: all 0.3s ease-in;
}
.popup .reset-icon:hover {
	transform: scale(1.1);
}
.hidden {
	display: none;
}
